@media only screen and (max-width: 991px) {

    body{
        background-color: black;
    }

    header{
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 2%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 50px;
    }

    .textdiv{
        padding-left: 1%;
        border: white solid;
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: 20px;
    }

    #cmd{
        position:relative;
        left: 0px;
        bottom: 0px;
        background: transparent;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
        font-weight: bold;

        outline: none;
        border: none;
        outline-style: none;
        box-shadow: none;
        outline-width: 0;

        width: 90%;
    }

    .rainbow-text{
        background-clip: border-box;
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); -webkit-background-clip: text;
        color: transparent;
    }

}

@media only screen and (min-width: 992px) {

    body{
        background-color: black;
    }
    
    header{
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 2%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 50px;
    }
    
    .textdiv{
        padding-left: 1%;
        border: white solid;
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: 20px;
    }
    
    #cmd{
        position:relative;
        left: 0px;
        bottom: 0px;
        background: transparent;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
        font-weight: bold;
    
        outline: none;
        border: none;
        outline-style: none;
        box-shadow: none;
        outline-width: 0;
    }
    
    .rainbow-text{
        background-clip: border-box;
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); -webkit-background-clip: text;
        color: transparent;
    }
    
}